.flex {
    justify-content: space-between;
}

.containerHight{
    flex-direction: column;
    height: 42px;
    color: #fff;
}

.containerHight .ico {
    font-size: 20px;
}
.containerHight:last-child::after,.containerHight:nth-child(2)::after{
    content: "0";
    font-weight: bold;
    background-color: #FCDD06;
    height: 20px;
    width: 20px;
    font-size: 12px;
    display: flex;
    color: black;
    position: relative;
    right: -10px;
    top: -47px;
    /* right: -10px; */
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.StarIcon{
    color: #FCDD06;
}
